.social-sm-btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px 0;
  line-height: 1;
  font-size: 14px;
  background-color: #fff;
  color: #22262e;
  text-align: center;

  &:hover {
    color: @color-hover;
    text-decoration: none;
  }
}