.top-slider {

  .slide-1,
  .slide-2,
  .slide-3 {
    height: 1067px;
  }

  .slide-1 {
    .bg-img('slide1.jpg', #101f1f)
  }

  .slide-2 {
    .bg-img('slide2.jpg', #101f1f)
  }

  .slide-3 {
    .bg-img('slide3.jpg', #101f1f)
  }
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 70px;
  width: 85px;
  height: 85px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  color: #fff;

  &:hover {
    border-color:  @color-hover;
    color:  @color-hover;

    .triangle-left {
      border-color: transparent @color-hover transparent transparent;
      .transition();
    }

    .triangle-right {
      border-color: transparent  transparent transparent @color-hover;
      .transition();
    }

    .transition;
  }

  &:hover,
  &:focus {
    outline: 0;
  }

  .triangle-right,
  .triangle-left {
    position: absolute;
    top: ~'calc(50% - 10px)';
    border-width: 12.5px 20px;
  }


  [class^='icon-'] {
    position: absolute;
    top: ~'calc(50% - 20px)';
    font-size: 40px;
  }
}

.arrow-left {
  left: -85px;

  .triangle-left {
    right: ~'calc(50% - 8px)';
  }
}

.arrow-right {
  right: -85px;

  .triangle-right {
    right: ~'calc(50% - 32px)';
  }
}