//== Directories
@font-folder:           '../fonts';
@img-folder:            '../img';


//== Basic CSS theme
@font-family:           "OneDay", sans-serif;
@color-text:            #272727;
@color-hover:           #00c0ff;




// Triangle on CSS
@triangle-color:        #fff;
@triangle-width:        25px;
